node_modules
.env
.venv/
__pycache__
etl/extract/__pycache__/
etl/transform/__pycache__/
etl/load/__pycache__/
data/raw/
data/processed/
data/warehouse/
data/audit/
data/ml/
data
note_perso
.pytest_cache       
pytest-cache-files-b5ut3kbf
pytest-cache-files-n3n2g91o
perso.txt
logs
ia/models
ia/reports
docs/ia/phase/veille_technique.md
docs/ia/phase/phase_9_benchmark_cloud.md